catkin_ws/build/
catkin_ws/devel/
ur5_ws/build/
ur5_ws/devel/
catkin_ws/src/cluster/src/.vscode/browse.vc.db
catkin_ws/src/cluster/src/.vscode/c_cpp_properties.json
catkin_ws/src/cluster/src/.vscode/settings.json
catkin_ws/src/pcdCreate/.vscode/browse.vc.db
catkin_ws/src/pcdCreate/.vscode/c_cpp_properties.json
catkin_ws/src/pcdCreate/.vscode/settings.json
ur5_ws/src/mover/.vscode/browse.vc.db
ur5_ws/src/mover/.vscode/c_cpp_properties.json
ur5_ws/src/mover/.vscode/settings.json
ur5_ws/src/mover/src/mover.pyc
ur5_ws/src/mover/src/notMOve.py
ur5_ws/src/mover/src/saymMoverOld.py
ur5_ws/src/mover/src/.vscode/browse.vc.db
ur5_ws/src/mover/src/.vscode/c_cpp_properties.json
ur5_ws/src/mover/src/.vscode/settings.json
